//
//  GVCReleaseConfig.xcconfig
//
//  Created by David Aspinall on 11-03-12.
//  Copyright 2011 Global Village Consulting Inc. All rights reserved.
//

	// No optimization
GCC_OPTIMIZATION_LEVEL = 0

	// Deployment postprocessing is what triggers Xcode to strip, turn it off
DEPLOYMENT_POSTPROCESSING = YES

	// Dead code stripping off
DEAD_CODE_STRIPPING = NO

SEPARATE_STRIP = YES

VALIDATE_PRODUCT = YES

	// Debug symbols should be on obviously
GCC_GENERATE_DEBUGGING_SYMBOLS = YES

GCC_PREPROCESSOR_DEFINITIONS = NS_BLOCK_ASSERTIONS

	// GCC warnings

	// Turn off warnings about uninitialized autos
	// can only be done when GCC_OPTIMIZATION_LEVEL is actually optimizing
GCC_WARN_UNINITIALIZED_AUTOS = NO

GCC_WARN_ABOUT_RETURN_TYPE = YES

GCC_WARN_UNUSED_VARIABLE = YES

	// -Wunknown-selector
GCC_WARN_UNDECLARED_SELECTOR = YES

GCC_WARN_STRICT_SELECTOR_MATCH = YES

GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES

GCC_TREAT_WARNINGS_AS_ERRORS = YES

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES

GCC_WARN_CHECK_SWITCH_STATEMENTS = YES

GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES

GCC_WARN_MISSING_PARENTHESES = YES

COPY_PHASE_STRIP = YES

OTHER_LDFLAGS = $(inherited) -all_load -ObjC

PUBLIC_HEADERS_FOLDER_PATH = Headers/${TARGET_NAME}

HEADER_SEARCH_PATHS = $(inherited) "$(BUILT_PRODUCTS_DIR)/Headers" "$(OBJROOT)/UninstalledProducts/Headers"
